<p style="color: green"><%= notice %></p>

<h1>Timetable</h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
  <% end %>
</div>

<div id="departure-alert"></div>

<script>
  // Function to check departure time
  function checkDepartureTime(departureTime) {
    const currentTime = new Date();
    const remainingTime = new Date(departureTime) - currentTime;

    if (remainingTime <= 0) {
      document.getElementById('departure-alert').innerHTML = 'The train has departed!';
    }
  }

  function startCheckingDeparture(departureTime) {
    checkDepartureTime(departureTime); // Check immediately

    // Check every second (1000 milliseconds)
    const intervalId = setInterval(function() {
      checkDepartureTime(departureTime);
    }, 1000);  }

  // Replace this with your Rails variable that holds departure time
  const departureTime = new Date('<%= @train.departure_time %>');

  // Start checking departure time
  startCheckingDeparture(departureTime);
</script>

<%= link_to "New schedule", new_schedule_path %>
